html {
    height: 100%;
    align-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

nav {
    background-color: rgb(108, 60, 132);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    align-items: center;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnav-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(204, 142, 235);
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: rgb(204, 142, 235);
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

section {
    background-color: rgb(237, 202, 254);
    padding-bottom: 1px;
}

footer {
    margin-top: 25px;
    width: 100%;
    height: 100%;
    background-color: rgb(108, 60, 132);
}

h1 {
    padding: 20px;
    font-size: 35px;
}

h2 {
    font-size: 22px;
    background-color: rgb(108, 60, 132);
    color: white;
}

h3 {
    font-weight: bold;
}

p{
    margin: 10px;
}

a {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(108, 60, 132);
    color: rgb(224, 240, 253);
}

#link-mail:hover {
    color: white;
}

.box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 142, 235);
}

.box-alter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-box {
    margin: 10px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.image-box-alter {
    margin: 0;
    padding: 0;
}

.text-box-alter {
    margin: 0;
    padding: 0;
}

.text-box {
    margin: 10px;
    flex: 1;
}

#link-mail {
    margin: 0;
    padding: 0;
}

#gallery {
    margin: 20px;
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}

#gallery img:hover {
    filter:none;
}

#footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer-icons-github {
    padding-right: 25px;
}

#footer-icons-linkedin {
    padding-left: 25px;
}

@media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
}

@media screen and (max-width: 1000px) {
    .subnav {
        float: none;
    }

    .subnav-content a {
        float: left;
    }

    .box {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .box-alter {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    #gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}

@media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
}

@media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
}