html {
    height: 100%;
    align-content: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
}

main {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: rgb(160, 160, 160);
}

footer {
    width: 100%;
    height: 60px;
}

h1 {
    padding: 20px;
    font-size: 35px;
}